.carusel {
  margin-top: 6rem;
  padding: 3rem 0;

  border-top: 3px solid var(--gray);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  &__box {
    width: 40%;
    overflow: hidden;
  }

  &__photos {
    width: 200%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    transition: transform 0.5s ease;
  }

  &__photo {
    width: 300px;
    height: 350px;
    opacity: 0.5;
    transition: all 0.4s ease;
    flex-shrink: 0;
    transform: scale(1);

    &.active {
      opacity: 1;
      width: 350px;
      height: 450px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__buttons {
    width: 50%;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  &__button {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;

    padding: 0 2rem;

    font-weight: 300;

    background-color: inherit;
    border: none;
    border-bottom: 3px solid var(--gray);

    cursor: pointer;

    &::hover,
    &::focus {
      color: var(--black);
      border-bottom: 5px solid var(--gray);
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: var(--light-gray);
      transition: height 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      height: 100%;
    }

    &::after {
      position: absolute;
      left: 20px;
      bottom: calc(50% - 10px);

      content: '';
      display: block;
      width: 20px;
      height: 20px;

      background-image: url('./public/arrow.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 50% 20%;
      transform: scaleX(-1) rotate(0deg);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(-1) rotate(45deg);
    }

    & span {
      font-size: 2rem;
    }

    &.active::before {
      height: 100%;
    }

    &.active::after {
      transform: scaleX(-1) rotate(45deg);
    }
  }
}
