.performed {
  margin-top: -10px;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    font-size: 4rem;

    text-align: center;
    margin-bottom: 1rem;
  }

  &__text {
    width: 25ch;
    text-align: center;
  }

  &__line {
    z-index: -1;

    width: 3px;
    height: 350px;
    bottom: 0;
    left: 50%;
    border-left: solid 3px var(--gray);
  }

  &__images {
    position: relative;

    &::after {
      position: absolute;
      left: calc(50% + 250px);
      bottom: -70px;
      content: '';
      display: block;
      width: 55px;
      height: 85px;

      background-color: var(--yellow);
      background-image: url('./public/arrow.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: 50% 70%;
    }
  }

  &__images img {
    display: block;
    margin: 0 auto;
  }

  &__subtext {
    width: 48%;
    line-height: 1.8;
  }
}
